{% extends 'base.html.twig' %}

{% block title %}LinkedInMessage Show
{% endblock %}

{% block body %}
	{% if linkedInMessages|length == 0  %}
		<h1 class='text-2xl text-center'>
			No Linked In Messages Found !!!</h1>
	{% endif %}

	{% for linkedInMessage in linkedInMessages %}
		<div
			class="container mx-auto p-6">
			<!-- Card Container -->
			<div
				class="max-w-2xl mx-auto bg-white shadow-lg rounded-lg p-6">
				<!-- Content -->
				<div class="mb-4">
					<h2 class="text-lg font-semibold text-gray-900">Content:</h2>
					<p class="text-gray-700 mt-2">{{linkedInMessage.content}}</p>
				</div>

				<!-- Timestamps -->
				<div class="mb-4">
					<h3 class="text-sm font-semibold text-gray-900">Created on:</h3>
					<p class="text-gray-600">{{linkedInMessage.createdAt|date('Y-m-d')}}</p>
				</div>

				<div class="mb-4">
					<h3 class="text-sm font-semibold text-gray-900">Last Update On:</h3>
					<p class="text-gray-600">{{linkedInMessage.updatedAt|date('Y-m-d')}}</p>
				</div>

				<div class="mb-4">
					<h3 class="text-sm font-semibold text-gray-900">Message by :</h3>
					<p class="text-gray-600">{{linkedInMessage.appuser}}</p>
				</div>
				<!-- Job Offer -->
				<div class="mb-4">
					<h3 class="text-sm font-semibold text-gray-900">Related Job Offer:</h3>
					<p class="text-indigo-500">
						<a href="{{path('app_job_offer_show', {'id':linkedInMessage.jobOffer.id})}}" class="hover:underline">View Job Offer</a>
					</p>
				</div>

			</div>
		</div>
	{% endfor %}


{% endblock %}
